* {

    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {

    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    max-width: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

header {

    height: 15%;
    background-color: rgb(44, 43, 41);
    text-align: center;
    padding: 50px;
    color: antiquewhite;
}

nav {
    height: 5%;
    background-color: rgb(107, 106, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    display: inline-flex;
    font-size: 20px;

    color: rgb(225, 230, 230);
    flex-direction: row;
}

nav a:hover {

    background-color: rgb(218, 42, 42);
    color: black;
}

nav li {
    margin-right: 30px;
    flex-direction: row;
    height: 20px;

}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
}

.titulo {

    color: white;
    text-align: center;
    font-size: xx-large;
}

.encabezadoc {
    justify-content: center;
    display: inline;
    font-size: 50px;
}

.menunav{

    flex-wrap: wrap;
}

section {

    width: 50%;
    color: white;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%;
}

footer {

    background-color: rgb(0, 0, 0);
    height: 4%;
    display: inline-block;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    color: white;
    margin-top: 1600px;

}

.contenido .productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.productos tr {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


picture img {
    justify-content: flex-start;
    display: inline-block;
    width: 35px;
    margin: 5px;
    flex-direction: row;
}

.img {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.imgdiv {
    display: block;
    border: 1px solid #ddd;
    width: 700px;
    flex-direction: row;
}

.imgdiv2 {
    display: flex;
    border: 1px solid #ddd;
    width: 800px;
    justify-content: center;
}

.imgdiv3 {
    display: block;
    width: 100%px;
    flex-direction: row;
}

.img3 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
}

.img2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    justify-content: center;
}

.texto {

    font-size: larger;
    text-align: justify;
}

p {
    text-align: center;
}

#pie {
    height: 1.5%;
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.productos td{
    margin: 10px;
}

.seccion {

    flex: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside {
    flex: 50%;
    width: 30%;
    margin-right: 500px;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
}

.mein {
    display: flex;
    justify-content: center;
    height: 40%;
    flex-direction: row;
    
}

ul img {
    display: flex;
    justify-content: baseline;
    border: 1px solid #ddd;
    width: 450px;
}

ul {
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    text-decoration: none;
    list-style: none;
    margin: 5px;
}

#sectionP{
        width: 100%;
        color: white;
        margin: 0 auto;
        flex-direction: row;
}

input, select {
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    
}

label {
    font-size: 18px;
    
    margin: 10px 0;
}

textarea {
    
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    resize: none;
}

hr {
    margin: 20px 0;
}

.seccion {
    background-color: var(--primario);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--oscuro);
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    margin: 10px 0;
}

.boton {
    height: 40px;
    width: 25%;
    
    font-size: 20px;
    border: 1px solid var(--oscuro);
    border-radius: 5px;
    background-color: var(--primario);
    color: var(--oscuro);
}

.boton:hover {
    cursor: pointer;
}

.boton:focus {
    background-color: #18dae0;
    color: var(--oscuro);
}

.solucion{
    flex-wrap: wrap;
}

.productos img {
    width: 400px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    max-height: 1067px;
    display: block;
    border: 1px solid #ddd;
}

.productos{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 280px;
    border-radius: 30px;
    font-family: var(--text-family);
    gap: 15px;
    margin: 10px;
}


.productos h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    font-family: var(--title-family);
    font-size: 25px;
}

.productos p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    flex-direction: column;
}



