* {

    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;

}

body {

    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    max-width: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid white;
}

header {

    height: 15%;
    background-color: rgb(44, 43, 41);
    text-align: center;
    padding: 20px;
    color: antiquewhite;
    width: 100%;
}

picture img {
    justify-content: flex-start;
    display: inline-block;
    width: 35px;
    margin: 5px;
    flex-direction: row;
}

.form{
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: white;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.encabezadoc {
    justify-content: center;
    display: inline;
    font-size: 50px;
  }

.buttons{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button{
    background-color: rgb(44, 43, 41);
    color: white;
}

.buttons button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.lista{
    margin: 20px;
}

#url{
    
    width: 170.4px;
}

footer{

    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
  
  }