* {

    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {

    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    max-width: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

picture img {
  justify-content: flex-start;
  display: inline-block;
  width: 35px;
  margin: 5px;
  flex-direction: row;
}

/* Bordered form */
section {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgb(44, 43, 41);
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
  margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    border-radius: 50%;
    width: 300px;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  header {

    height: 15%;
    background-color: rgb(44, 43, 41);
    text-align: center;
    padding: 20px;
    color: antiquewhite;
}

footer{

  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;

}

.buttons1{
  width: 20%;
  padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(24, 32, 32);
    font-weight: bold;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 4px 4px 60px rgb(0 0 0 / 5%);
}

.encabezadoc {
  justify-content: center;
  display: inline;
  font-size: 50px;
}

.buttons1 a {

text-decoration: none;
color: white;

}

.buttons1:hover{
  border-color: rgb(24, 32, 32);
    background-color: rgb(134, 23, 23);
    color: black;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(24, 32, 32);
}