* {

    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {

    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    max-width: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid white;
}

.titles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: white;
}

.form select{
    width: 170.4px;
}

.buttons{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button{
    background-color: rgb(44, 43, 41);
    color: white;
}

.buttons button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.lista{
    margin: 20px;
}

#url{
    
    width: 170.4px;
}
